<div>
  <h1>Bienvenidos a Kinetoscope</h1>
  <div style="text-align:center">
    <img src="cid:logo" />
  </div>
  <h3>¡Hola, {{user.firstName}}!</h3>
  <p>Gracias por registrarte, ahora podras buscar las impresoras y fotocopiadoras que mas te guste.</p>
  <br />
  <p>Saludos cordiales</p>
  <p>Kinetoscope</p>
</div>