<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Carrito</title>
</head>
<body>
    <h1>Detalle del Carrito</h1>
    {{#if cart.items.length}}
        <ul>
            {{#each cart.items}}
                <li>
                    Producto: {{this.product.name}} - Cantidad: {{this.quantity}}
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>El carrito está vacío.</p>
    {{/if}}
</body>
</html>
