<!-- views/home.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Listado de Productos</h1>
    <!-- Listado de productos -->
    <ul id="productList">
        {{#each products}}
        <li>
            {{this.title}} - ${{this.price}} - Stock: {{this.stock}}
            <button class="delete-product" data-id="{{this.id}}">Eliminar</button>
        </li>
        {{/each}}
    </ul>
</body>
</html>